iframe
  border-radius: 10px

.w-30
  width: 30% !important 

.w-35
  width: 35% !important 

.w-55
  width: 55% !important 

.w-65 
  width: 65% !important 

.w-85 
  width: 85% !important

.w-90
  width: 90% !important

.w-95
  width: 95% !important

.transparente
  background-color: transparent !important

.blanco
  background-color: white !important

.texto-blanco
  color: white !important

.tabs-a.color-acento-contenido .tabs-a__tab__selected
  background-color: #E94B46
  color: white !important

.back
  margin-top: -65px
  position: relative
  z-index: 0
  border-width: 0 !important

.tabla1
  margin-left: -120px
  position: relative
  z-index: 0
  -webkit-box-shadow: 10px 10px 2px 0px #E8E8E8;
  box-shadow: 10px 10px 2px 0px #E8E8E8
  overflow: hidden

.tabla2
  overflow: hidden
  
.color-acento-contenido
    color: $color-acento-contenido

.front 
  position: relative;
  z-index: 10

.div-color-primario
  background-color: $color-primario !important

.azul-claro
  background-color: #E8F8FF
    
.verde-claro
  background-color: #DAF4EF !important

.milink  
  font-size: 14px !important
  color: #006DF0 !important

.banner-principal__img
  animation-name: yoyo
  animation-duration: 4.0s
  animation-iteration-count: infinite
  -o-animation-direction: alternate

  @keyframes yoyo
    0%
      transform: translatex(0px)    
    50%
      transform: translatex(-5px)
    100%
      transform: translatex(0px)  

.text-in
  -webkit-animation: text-in 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both
  animation: text-in 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both

@-webkit-keyframes text-in
  0%
    letter-spacing: -0.5em
    opacity: 0

  40%
    opacity: 0.6

  100%
    opacity: 1

@keyframes text-in
  0%
    letter-spacing: -0.5em
    opacity: 0

  40%
    opacity: 0.6

  100%
    opacity: 1        

.zoom  
  animation-name: zoom
  animation-duration: 4.0s
  animation-iteration-count: infinite
  -o-animation-direction: alternate    
@keyframes zoom
  0%  
    transform: scale(1.0)
  50%  
    transform: scale(1.1)     
  100%  
    transform: scale(1.0) 

.swing  
  animation-name: swing
  animation-duration: 4.0s
  animation-iteration-count: infinite
  -o-animation-direction: alternate

  @keyframes swing
    0%
      transform: translatex(0px)    
    50%
      transform: translatex(-5px)
    100%
      transform: translatex(0px)        

.img-a 
  display: block
  margin: auto

.img-t
  width: auto
  height: auto        