iframe
  border-radius: 10px

.w-30
  width: 30% !important 

.w-35
  width: 35% !important 

.w-55
  width: 55% !important 

.w-65 
  width: 65% !important 

.w-85 
  width: 85% !important

.w-90
  width: 90% !important

.w-95
  width: 95% !important

.transparente
  background-color: transparent !important

.blanco
  background-color: white !important

.back
  margin-top: -65px
  position: relative
  z-index: 0
  border-width: 0 !important



.front 
  position: relative;
  z-index: 10

.div-color-primario
  background-color: $color-primario !important